<h1 class='page-header'>Log Game</h1>

<% if flash[:error].present? %>
  <div class="alert alert-danger" role="danger">
    <%= flash[:error].html_safe %><br/>
    <%= @game.errors.full_messages.join('<br />').html_safe %>
  </div>
<% end %>

<%= form_for(@game) do |f| %>
  <div class="form-group">
    <label for="date_played">Date played:</label>
    <%= f.date_select :date_played %>
  </div>
  <div class="form-group">
    <label for="opponent_id">Opponent:</label>
    <%= f.select :opponent_id, current_user.oponents_to_select %>
  </div>

  <div class="form-group">
    <label for="user_score">Your score:</label>
    <%= f.text_field :user_score %>
  </div>
  <div class="form-group">
    <label for="opponent_score">Their score:</label>
    <%= f.text_field :opponent_score %>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
